{% extends 'base/main.html' %}
{% block contenu %}

<div class="main-content">
    <div class="container">
        <h1>Modifier mon mot de passe</h1>
        <p>
            Si vous souhaitez modifier votre mot de passe de compte client, vous pouvez le faire ci-dessous.
            N'oubliez pas de cliquer sur le bouton <strong style="font-weight: bold">'Enregistrer'</strong>
            une fois la modification effectuée. Vous recevrez également un mail de confirmation sur votre
            adresse mail.
        </p>
        <br>
        <form method="POST">
            {% csrf_token %}
            <label for="pswd">Nouveau mot de passe :</label><br>
            <input type="password"
                   id="pswd"
                   name="pswd"
                   placeholder="Nouveau mot de passe"
                   maxlength="20"
                   minlength="6"
                   required>
            <br>
            <br>
            <label for="pswd-confirm">Confirmer le mot de passe :</label><br>
            <input type="password"
                   id="pswd-confirm"
                   name="pswd-confirm"
                   oninput="check(this)"
                   placeholder="Nouveau mot de passe"
                   maxlength="20"
                   minlength="6"
                   required>
            <br>
            <!--            <br>-->
            <p>Attention :</p>
            <ul>
                <li>6 caractères minimum</li>
                <li>20 caractères maximum</li>
            </ul>
            <br>
            <span class="medium-button"><a href="{% url 'my-account' %}">Retour</a></span>
            <button type="submit">Enregistrer</button>
        </form>

    </div>
</div>

<style>
    button {
        background-color: #000;
        color: #fff;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        letter-spacing: .8px;
        padding: 9px;
        font-size: 11px;
        line-height: 10px;
    }
    input:invalid {
        border: 2px solid red
    }


</style>

{% load static %}
<script src="{% static 'js/pswd_check.js' %}"></script>

{% endblock %}