{% extends 'base/main.html' %}
{% block contenu %}

<div class="container">

    <h1>Connexion page</h1>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="col-md-2">
            <label>Nom d'utilisateur</label>
        </div>
        <div class="col-md-10">
            <input type="text" name="username">
        </div>
        <br>
        <br>
        <div class="col-md-2">
            <label>Mot de passe</label>
        </div>
        <div class="col-md-10">
            <input type="password" name="password">
        </div>
        <br>
        <button style="background-color: #000;
                       color: #fff;
                       font-family: 'Lato', sans-serif;
                       text-transform: uppercase;
                       letter-spacing: .8px;
                       padding: 9px;
                       font-size: 10px;
                       line-height: 10px;"
                type="submit">
            Login
        </button>
        {% for msg in messages %}
        <p id="message">{{msg}}</p>
        {% endfor %}
    </form>
    <br>
    <h2>Pas de compte ? <a style="text-decoration: underline" href="{% url 'sign_in' %}">Cliquez ici pour vous inscrire</a></h2>

</div>

{% endblock %}