{% extends 'base/main.html' %}
{% block contenu %}
{% load static %}
<script src="{% static 'js/stripe.js' %}"></script>
<script src="https://js.stripe.com/v3/"></script>

<div class="main-content">
    <div class="container">
        <h1>Récapitulatif du panier</h1><br>
        <table>
            <thead>
            <tr>
                <th>Produit(s)</th>
                <th>Quantité</th>
                <th>Prix</th>
            </tr>
            </thead>
            {% for cart_line in cart %}
            <tr>
                <td style="font-weight: bold">
                    <a href="{% url 'product-detail' cart_line.product.id %}">
                        <img src="{{ cart_line.product.mainImg.url }}" style="width: 150px">
                        {{ cart_line.product.name }}
                    </a>
                </td>
                <td style="text-align: center">
                    {{cart_line.quantity}}
                </td>
                <td style="text-align: center">
                    ${{ cart_line.product.price }}
                </td>
            </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <td style="font-size: 21px">
                    Total (HT)
                </td>
                <td style="text-align: center">
                    {{ qtyTotal }}  produit(s)
                </td>
                <td style="text-align: center">
                    ${{ total_ht }}
                </td>

            </tr>
            <tr>
                <td>
                    Taxes
                </td>
                <td style="text-align: center">
                    {{ taxe }}% ({{ client.state }})
                </td>
                <td style="text-align: center">
                    ${{ tot_taxe|floatformat:'2' }}
                </td>

            </tr>
            <tr>
                <td style="font-size: 22px">
                    Total (TTC)
                </td>
                <td style="text-align: center">
                    {{ qtyTotal }}  produit(s)
                </td>
                <td style="text-align: center">
                    ${{ total|floatformat:'2' }}
                </td>
            </tr>
            </tfoot>
        </table>
        <br>
        <br>

        <div class="col-md-6">
            <h3>Adresse de livraison</h3><br>
            <div class="col-md-5">
                <label>Prénom : </label><br><br>
                <label>Nom :</label><br><br>
                <label>Genre :</label><br><br>
                <label>Société :</label><br><br>
                <label>Adresse :</label><br><br>
                <label>Complément d'adresse :</label><br><br>
                <label>Code postal :</label><br><br>
                <label>Ville :</label><br><br>
                <label>Téléphone :</label><br><br>
                <label>Téléphone portable :</label><br><br>
                <label>Téléphone professionel :</label>
            </div>
            {{ shipping.first_name }}<br><br>
            {{ shipping.last_name }}<br><br>
            {{ shipping.gender }}<br><br>
            {{ shipping.company }}<br><br>
            {{ shipping.address }}<br><br>
            {{ shipping.additional_address }}<br><br>
            {{ shipping.postcode }}<br><br>
            {{ shipping.city }}<br><br>
            {{ shipping.phone }}<br><br>
            {{ shipping.mobilephone }}<br><br>
            {{ shipping.workphone }}<br><br>
        </div>

        <div class="col-md-6">
            <h3>Adresse de facturation</h3><br>
            <div class="col-md-5">
                <label>Prénom : </label><br><br>
                <label>Nom :</label><br><br>
                <label>Genre :</label><br><br>
                <label>Société :</label><br><br>
                <label>Adresse :</label><br><br>
                <label>Complément d'adresse :</label><br><br>
                <label>Code postal :</label><br><br>
                <label>Ville :</label><br><br>
                <label>Téléphone :</label><br><br>
                <label>Téléphone portable :</label><br><br>
                <label>Téléphone professionel :</label>
            </div>
            {{ invoice.first_name }}<br><br>
            {{ invoice.last_name }}<br><br>
            {{ invoice.gender }}<br><br>
            {{ invoice.company }}<br><br>
            {{ invoice.address }}<br><br>
            {{ invoice.additional_address }}<br><br>
            {{ invoice.postcode }}<br><br>
            {{ invoice.city }}<br><br>
            {{ invoice.phone }}<br><br>
            {{ invoice.mobilephone }}<br><br>
            {{ invoice.workphone }}<br><br>
        </div>
        <div class="col-md-12">
            <br>
            <button id="btnValider">Procéder au paiement</button>
            <button><a style="color: white" href="{% url 'cart-page' %}">Retourner au panier</a></button>
            <button><a style="color: white" href="{% url 'home-shop' %}">Retourner à la boutique</a></button>
        </div>

    </div>
</div>


<style>
    table, th, td {
        border: 1.5px solid black;
        padding: 1%;
        border-collapse: collapse;

    }
    table {
        width: 100%;
    }
    thead, tfoot{
        font-weight: bold;
        font-size: 19px;
    }
    button {
        background-color: #000;
        color: #fff;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        letter-spacing: .8px;
        padding: 9px;
        font-size: 11px;
        line-height: 10px;
    }
</style>
{% endblock %}