{% extends 'base/main.html' %}
{% block contenu %}
<div class="main-content">
    <div class="container">
        <h1>Mes commandes</h1><br>
        <h3>Date commande : {{ order.order_date }}</h3><br>
        <h3>Etat commande : {{ order.get_status_display }}</h3><br>
        <table>
            <thead>
            <tr>
                <th>Produit(s)</th>
                <th>Quantité</th>
                <th>Prix</th>
            </tr>
            </thead>
            {% for detail in orderDetail %}
            <tr>
                <td style="font-weight: bold">
                    <a href="{% url 'product-detail' detail.product.id %}">
                        <img src="{{ detail.product.mainImg.url }}" style="width: 150px">
                        {{ detail.product.name }}
                    </a>
                </td>
                <td style="text-align: center">

                    {{ detail.qty }}

                </td>
                <td style="text-align: center">
                    ${{ detail.product_unit_price }}
                </td>

            </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <td style="font-size: 22px">
                    <strong>Total HT</strong>
                </td>
                <td style="text-align: center">
                    <strong>{{ order.article_qty }}  produit(s)</strong>
                </td>
                <td style="text-align: center">
                    <strong>${{ order.total }}</strong>
                </td>
            </tr>
            <tr>
                <td style="font-size: 20px">
                    <strong>Taxes</strong>
                </td>
                <td style="text-align: center">
                    <strong>{{ order.taxes }}%</strong>
                </td>
                <td style="text-align: center">
                    <strong>${{ tot_taxes|floatformat:'2' }}</strong>
                </td>
            </tr>
            <tr>
                <td style="font-size: 22px">
                    <strong>Total TTC</strong>
                </td>
                <td>

                </td>
                <td style="text-align: center">
                    <strong>${{ order.total_ttc }}</strong>
                </td>
            </tr>
            </tfoot>
        </table>
        <br>
        <div class="col-md-6">
            <h3>Adresse de livraison</h3><br>
            <div class="col-md-5">
                <label>Prénom : </label><br><br>
                <label>Nom :</label><br><br>
                <label>Genre :</label><br><br>
                <label>Société :</label><br><br>
                <label>Adresse :</label><br><br>
                <label>Complément d'adresse :</label><br><br>
                <label>Code postal :</label><br><br>
                <label>Ville :</label><br><br>
                <label>Téléphone :</label><br><br>
                <label>Téléphone portable :</label><br><br>
                <label>Téléphone professionel :</label>
            </div>
            {{ order.shipping_address.first_name }}<br><br>
            {{ order.shipping_address.last_name }}<br><br>
            {{ order.shipping_address.gender }}<br><br>
            {{ order.shipping_address.company }}<br><br>
            {{ order.shipping_address.address }}<br><br>
            {{ order.shipping_address.additional_address }}<br><br>
            {{ order.shipping_address.postcode }}<br><br>
            {{ order.shipping_address.city }}<br><br>
            {{ order.shipping_address.phone }}<br><br>
            {{ order.shipping_address.mobilephone }}<br><br>
            {{ order.shipping_address.workphone }}<br><br>
        </div>

        <div class="col-md-6">
            <h3>Adresse de facturation</h3><br>
            <div class="col-md-5">
                <label>Prénom : </label><br><br>
                <label>Nom :</label><br><br>
                <label>Genre :</label><br><br>
                <label>Société :</label><br><br>
                <label>Adresse :</label><br><br>
                <label>Complément d'adresse :</label><br><br>
                <label>Code postal :</label><br><br>
                <label>Ville :</label><br><br>
                <label>Téléphone :</label><br><br>
                <label>Téléphone portable :</label><br><br>
                <label>Téléphone professionel :</label>
            </div>
            {{ order.invoicing_address.first_name }}<br><br>
            {{ order.invoicing_address.last_name }}<br><br>
            {{ order.invoicing_address.gender }}<br><br>
            {{ order.invoicing_address.company }}<br><br>
            {{ order.invoicing_address.address }}<br><br>
            {{ order.invoicing_address.additional_address }}<br><br>
            {{ order.invoicing_address.postcode }}<br><br>
            {{ order.invoicing_address.city }}<br><br>
            {{ order.invoicing_address.phone }}<br><br>
            {{ order.invoicing_address.mobilephone }}<br><br>
            {{ order.invoicing_address.workphone }}<br><br>
        </div>
        <span class="medium-button"><a href="{% url 'orders-page' %}">Retour vers mes commandes</a></span>
        {% if admin %}
        <span class="medium-button"><a href="{% url 'order-list' %}">Retour vers commandes des clients</a></span><br>
        <br>
        <h4>Changer l'état de la commande :</h4><br>
        <span class="small-button"><a href="{% url 'change-order-status' order.id 1 %}">En attente</a></span>
        <span class="small-button"><a href="{% url 'change-order-status' order.id 2 %}">Payée</a></span>
        <span class="small-button"><a href="{% url 'change-order-status' order.id 3 %}">Expédiée</a></span>
        <span class="small-button"><a href="{% url 'change-order-status' order.id 4 %}">Annulée</a></span>
        {% endif %}
    </div>
</div>

<style>
    table, th, td {
        border: 0.5px solid black;
        padding: 0.5%;
        border-collapse: collapse
    }
    table {
        width: 100%;
    }
    thead, tfoot{
        font-weight: bold;
        font-size: 19px;
    }
</style>

{% endblock %}