{% extends 'base/main.html' %}
{% block contenu %}
<script>
    fetch("/shop/create-order/")
    .then((result) => { return result.json(); });
</script>

<div class="main-content">
    <div class="container">
        <h1>Paiement validé avec succès !</h1><br>
        <p>
            Retournez à la boutique <a href="{% url 'home-shop' %}">en cliquant ici</a>,
            allez voir vos commandes <a href="{% url 'orders-page' %}">en cliquant ici</a>.
        </p>
    </div>
</div>


{% endblock %}