<!-- Footer -->
<footer>
    <div class="footer-instagram">
        <ul class="insta-slider owl-carousel">
            {% load static %}
            <li><a href="#"><img src="{% static 'images/footer-instagram-1.jpg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'images/footer-instagram-2.jpg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'images/footer-instagram-3.jpg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'images/footer-instagram-4.jpg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'images/footer-instagram-5.jpg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'images/footer-instagram-6.jpg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'images/footer-instagram-7.jpg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'images/footer-instagram-8.jpg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'images/footer-instagram-9.jpg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'images/footer-instagram-10.jpg' %}" alt=""></a></li>
        </ul>
    </div>
    <div class="footer-social">
        <div class="container">
            <div class="footer-social-links">
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">RSS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-footer">
        <div class="container">
            <div class="footer-about">
<!--                <img src="{% static 'images/white-logo.png' %}" alt="">-->
                <h1 style="color: white; font-size: 35px"><a href="{% url 'home' %}">XdeBERATA</a></h1>
            </div>
            <div id="up" class="go-top">
                <a href="#" class="top-button">UP</a>
            </div>
        </div>
    </div>
</footer><!-- footer-END -->


