{% extends 'base/main.html' %}
{% block contenu %}
{% load static %}
        <!-- Homepage Slider -->
        <section class="main-slider">
            <div class="container">
                <div class="owl-carousel post-slider">
                    <div class="item slider-post">
                        <div class="slider-image">
                            <a href="#"><img src="{% static 'images/popular-slider-1.jpg' %}" alt=""></a>
                        </div>
                        <div class="slider-title">
                            <h1><a href="#">A deep dive into the psychology of text</a></h1>
                            <time datetime="2017" class="post-date">March 24, 2017</time>
                        </div>
                    </div>
                    <div class="item slider-post">
                        <div class="slider-image">
                            <a href="#"><img src="{% static 'images/popular-slider-2.jpg' %}" alt=""></a>
                        </div>
                        <div class="slider-title">
                            <h1><a href="#">No Art Is Never Really About the Story</a></h1>
                            <time datetime="2017" class="post-date">March 24, 2017</time>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- homepage-slider-END -->
        
        <!-- Featured Posts -->
        <section class="featured-posts">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="featured-post">
                            <div class="featured-post-image">
                                <img src="{% static 'images/featured-post-1.jpg' %}" alt="">
                            </div>
                            <div class="featured-post-title">
                                <h3><a href="#">Feel Lovely</a></h3>
                                <time datetime="2017" class="post-date">April 21, 2017</time>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-post">
                            <div class="featured-post-image">
                                <img src="{% static 'images/featured-post-2.jpg' %}" alt="">
                            </div>
                            <div class="featured-post-title">
                                <h3><a href="#">Mostly Hope</a></h3>
                                <time datetime="2017" class="post-date">April 21, 2017</time>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-post">
                            <div class="featured-post-image">
                                <img src="{% static 'images/featured-post-3.jpg' %}" alt="">
                            </div>
                            <div class="featured-post-title">
                                <h3><a href="#">Almost Done</a></h3>
                                <time datetime="2017" class="post-date">April 21, 2017</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- featured-posts-END -->
        
        <!-- Main Content -->
        <section class="main-content">
            <div class="container">
                <div class="row">
                    <!-- Normal Posts -->
                    <div class="col-md-8">
                        <div class="normal-posts">
                            <div class="normal-post">
                                <div class="normal-post-image">
                                    <img src="{% static 'images/normal-post-1.jpg' %}" alt="">
                                </div>
                                <div class="normal-post-title">
                                    <span class="category"><a href="#">Daily</a></span>
                                    <h2><a href="#">Distance Yourself from Toxic People</a></h2>
                                    <time datetime="2017" class="post-date">May 1, 2017</time>
                                </div>
                                <div class="normal-post-content">
                                    <p>I have always been told to believe in myself. But nobody has ever told me to believe in other people. I think that’s a pretty fundamental problem in our world.</p>
                                    <p>I’m often asked by people, how did I know what I wanted to dedicate myself to? I didn’t actually approach it that way at all. I asked myself, what didn’t I want to dedicate.</p>
                                </div>
                                <div class="normal-post-footer">
                                    <ul class="post-share">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                    <div class="read-more-button">
                                        <span class="medium-button"><a href="#">Read More ></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="normal-post">
                                <div class="normal-post-image">
                                    <img src="{% static 'images/normal-post-2.jpg' %}" alt="">
                                </div>
                                <div class="normal-post-title">
                                    <span class="category"><a href="#">Featured</a></span>
                                    <h2><a href="#">You’ll Change Your Mind More</a></h2>
                                    <time datetime="2017" class="post-date">April 5, 2017</time>
                                </div>
                                <div class="normal-post-content">
                                    <p>I have always been told to believe in myself. But nobody has ever told me to believe in other people. I think that’s a pretty fundamental problem in our world.</p>
                                    <p>I’m often asked by people, how did I know what I wanted to dedicate myself to? I didn’t actually approach it that way at all. I asked myself, what didn’t I want to dedicate.</p>
                                </div>
                                <div class="normal-post-footer">
                                    <ul class="post-share">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                    <div class="read-more-button">
                                        <span class="medium-button"><a href="#">Read More ></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="normal-post">
                                <div class="normal-post-image embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AFUZSPd_Nbg" allowfullscreen></iframe>
                                </div>
                                <div class="normal-post-title">
                                    <span class="category"><a href="#">Daily</a></span>
                                    <h2><a href="#">No Art Is Never Really About the Story</a></h2>
                                    <time datetime="2017" class="post-date">April 3, 2017</time>
                                </div>
                                <div class="normal-post-content">
                                    <p>I have always been told to believe in myself. But nobody has ever told me to believe in other people. I think that’s a pretty fundamental problem in our world.</p>
                                    <p>I’m often asked by people, how did I know what I wanted to dedicate myself to? I didn’t actually approach it that way at all. I asked myself, what didn’t I want to dedicate.</p>
                                </div>
                                <div class="normal-post-footer">
                                    <ul class="post-share">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                    <div class="read-more-button">
                                        <span class="medium-button"><a href="#">Read More ></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mini-posts">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mini-post">
                                        <div class="mini-post-image">
                                            <img src="{% static 'images/featured-post-4.jpg' %}" alt="">
                                        </div>
                                        <div class="mini-post-title">
                                            <h3><a href="#">Believe Life</a></h3>
                                            <time datetime="2017" class="post-date">April 2, 2017</time>
                                        </div>
                                        <div class="mini-post-content">
                                            <p>I have always been told to believe in myself. But nobody has ever told me to believe in other people.</p>
                                        </div>
                                        <div class="mini-post-footer">
                                            <div class="read-more-button">
                                                <span class="small-button"><a href="#">Read More ></a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mini-post">
                                        <div class="mini-post-image">
                                            <img src="{% static 'images/featured-post-5.jpg' %}" alt="">
                                        </div>
                                        <div class="mini-post-title">
                                            <h3><a href="#">Dreams Coming</a></h3>
                                            <time datetime="2017" class="post-date">April 7, 2017</time>
                                        </div>
                                        <div class="mini-post-content">
                                            <p>I have always been told to believe in myself. But nobody has ever told me to believe in other people.</p>
                                        </div>
                                        <div class="mini-post-footer">
                                            <div class="read-more-button">
                                                <span class="small-button"><a href="#">Read More ></a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-navs clearfix">
                            <ul class="page-nav">
                                <li><a href="#">New Posts</a></li>
                                <li><a href="#">Old Posts</a></li>
                            </ul>
                        </div>
                    </div><!-- normal-posts-END -->
                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar">
                            <div class="widget widget-about">
                                <div class="widget-title">
                                    <h3>About</h3>
                                </div>
                                <div class="widget-content">
                                    <img src="{% static 'images/widget-about.jpg' %}" alt="">
                                    <p>Hello, my name is Jane Doe. Proin pelle augue consectetur. It's okey.</p>
                                    <span class="small-button"><a href="#">Read More ></a></span>
                                </div>
                            </div>
                            <div class="widget widget-instagram">
                                <div class="widget-title">
                                    <h3>Instagram</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="insta-photos">
                                        <li><a href="#"><img src="{% static 'images/widget-instagram-1.jpg' %}" alt=""></a></li>
                                        <li><a href="#"><img src="{% static 'images/widget-instagram-2.jpg' %}" alt=""></a></li>
                                        <li><a href="#"><img src="{% static 'images/widget-instagram-3.jpg' %}" alt=""></a></li>
                                        <li><a href="#"><img src="{% static 'images/widget-instagram-4.jpg' %}" alt=""></a></li>
                                        <li><a href="#"><img src="{% static 'images/widget-instagram-5.jpg' %}" alt=""></a></li>
                                        <li><a href="#"><img src="{% static 'images/widget-instagram-6.jpg' %}" alt=""></a></li>
                                        <li><a href="#"><img src="{% static 'images/widget-instagram-7.jpg' %}" alt=""></a></li>
                                        <li><a href="#"><img src="{% static 'images/widget-instagram-8.jpg' %}" alt=""></a></li>
                                        <li><a href="#"><img src="{% static 'images/widget-instagram-9.jpg' %}" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget widget-twitter">
                                <div class="widget-title">
                                    <h3>Tweets</h3>
                                </div>
                                <div class="widget-content">
                                    <img src="{% static 'images/widget-twitter.jpg' %}" alt="">
                                    <ul class="twitter-slider owl-carousel">
                                        <li class="item tweet">
                                            <p>I have always been told to believe in myself. But nobody has ever.</p>
                                            <time datetime="2017" class="post-date">(5 min ago)</time>
                                        </li>
                                        <li class="item tweet">
                                            <p>I have always been told to believe in myself. But nobody has ever.</p>
                                            <time datetime="2017" class="post-date">(3 days ago)</time>
                                        </li>
                                        <li class="item tweet">
                                            <p>I have always been told to believe in myself. But nobody has ever.</p>
                                            <time datetime="2017" class="post-date">(2 years ago)</time>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget widget-recent-posts">
                                <div class="widget-title">
                                    <h3>Recent</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="recent-posts">
                                        <li class="recent-post clearfix">
                                            <a href="#"><img src="{% static 'images/widget-recent-post-1.jpg' %}" alt=""></a>
                                            <h6><a href="#">Believe Life</a></h6>
                                            <p>I have always been told to believe want to dedicate</p>
                                        </li>
                                        <li class="recent-post clearfix">
                                            <a href="#"><img src="{% static 'images/widget-recent-post-2.jpg' %}" alt=""></a>
                                            <h6><a href="#">Dreams Coming</a></h6>
                                            <p>The thing is, you can take on almost done today</p>
                                        </li>
                                        <li class="recent-post clearfix">
                                            <a href="#"><img src="{% static 'images/widget-recent-post-3.jpg' %}" alt=""></a>
                                            <h6><a href="#">Change Your Mind</a></h6>
                                            <p>And she was looking at her phone, he said going</p>
                                        </li>
                                        <li class="recent-post clearfix">
                                            <a href="#"><img src="{% static 'images/widget-recent-post-4.jpg' %}" alt=""></a>
                                            <h6><a href="#">The Day Quit</a></h6>
                                            <p>I have always been told to believe your destiny</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget widget-ads-box">
                                <div class="widget-title">
                                    <h3>Banner</h3>
                                </div>
                                <div class="widget-content">
                                    <div class="ads-box">
                                        <img src="{% static 'images/ads-banner.jpg' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- siderbar-END -->
                </div>
            </div>
        </section><!-- main-content-END -->

{% endblock %}